body {
    background-color: bisque;
}

.nav {
    list-style-type: none;
    /*removes bullet points and "list" marks*/
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rosybrown;
    /*sets the background box*/
    font-family: Korolev Bold Italicfont-family: korolev, sans-serif;
    font-weight: 700;
    font-style: italic;
}

ul.nav li {
    float: left;
    /*stack from left to right*/
}

ul.nav li a {
    display: block;
    /*how to display links*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    /*more padding to text*/
    text-decoration: none;
    /*gets rid of underline for links*/
}

li a:hover {
    background-color: rgb(224, 217, 210);
}

.active {
    background-color: black;
}


/*- puts the nav bar in a sticky fixed position, but messes with the previous stylization to create a weird gap*/

ul.nav {
    position: fixed;
    top: 0;
    width: 100%;
}