.nav {
    list-style-type: none;
    /*removes bullet points and "list" marks*/
    margin: auto;
    padding: 0;
    /*what moves the text to the corner*/
    overflow: hidden;
    background-color: rgb(170, 77, 70);
    /*sets the background box*/
}

ul.nav li {
    float: left;
    /*stack from left to right, going horizontally*/
}

ul.nav li a {
    display: block;
    /*how to display links, so it looks like a block instead of individual text*/
    color: rgb(241, 232, 240);
    text-align: center;
    padding: 14px 16px;
    /*more padding to text*/
    text-decoration: none;
    /*gets rid of underline for links*/
}

li a:hover {
    background-color: rgb(119, 117, 121);
}

.active {
    background-color: rgb(70, 63, 68);
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 15px;
}

.grid-item {
    background-color: lightgray;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.navMenu {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.mainImage {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.main {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.main2 {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.side {
    grid-column: 1;
    grid-row: 4;
    background-color: rgb(170, 77, 70);
}

.side2 {
    grid-column: 2;
    grid-row: 4;
    background-color: rgb(170, 77, 70);
}

.sideNav {
    grid-column: 3;
    grid-row: 3 / span 5;
}