body {
    background-color: lavender;
}

.nav {
    list-style-type: none;
    /*removes bullet points and "list" marks*/
    margin: auto;
    padding: 0;
    /*what moves the text to the corner*/
    overflow: hidden;
    background-color: rgb(158, 169, 221);
    /*sets the background box*/
}

div.songs li a {
    color: rgb(137, 111, 207);
}

div.movies li a {
    color: rgb(216, 151, 210);
}

ul.nav li {
    float: left;
    /*stack from left to right, going horizontally*/
}

ul.nav li a {
    display: block;
    /*how to display links, so it looks like a block instead of individual text*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    /*more padding to text*/
    text-decoration: none;
    /*gets rid of underline for links*/
}

li a:hover {
    background-color: rgb(226, 211, 241);
}

.active {
    background-color: rgb(224, 178, 217);
}

#intro {
    text-align: center;
    border-style: solid;
}


/*the new feature I learned:*/

div.new {
    width: 100px;
    height: 150px;
    background: cornflowerblue;
    transition: width 2s;
}

div.new:hover {
    width: 300px;
}